/* General */
html {
  scroll-behavior: smooth;
}
body {
  font-family: Avenir;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  letter-spacing: 0.2em;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  font-weight: 250;
  font-size: 145%;
}
h4 {
  font-size: xx-large;
}
.btn {
  display: inline-block;
  text-align: center;
  width: 125px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.card {
  border: 0px;
  box-shadow: 3px 3px 10px 0 rgb(208, 208, 208);
}
hr {
  width: 90%;
}

/* Home Section */
#home {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.2), rgba(83, 255, 223, 0.3)), url(indexBackground10.jpeg);
  background-size: cover;
  background-position: center;
  color: white;
  padding-bottom: 17em;
}
.content {
  text-align: center;
  padding-top: 30%;
  text-shadow: 0px 2px 3px black;
}
.pageLink {
  margin-top: 10px;
  margin-bottom: 5px;
}

/* For Phone */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    h1 {
      font-size: 45px;
    }
}

#home hr {
  width: 350px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: -1px;
}

/* CV Section */
#cv {
  padding-top: 2em;
  padding-bottom: 1em;
}
#cv hr {
  width: 200px;
  border-top: 1px solid #000000;
  margin-top: -10px;
}
#profilePhoto {
  border: 10px solid white;
  margin-top: -60px;
  text-align: center;
  border-radius: 100%;
  height: 250px;
  width: 250px;
}
#qualifications {
  text-align: right;
}

/* Portfolio Section */
#portfolio {
  padding-top: 2em;
  padding-bottom: 5em;
}
.header {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 60px;
  letter-spacing: 0.2em;
}
.subheader {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 145%;
  letter-spacing: 0.2em;
}
#portfolio hr {
  width: 130px;
  border-top: 1px solid #000000;
  margin-top: -10px;
  padding-bottom: 15px;
}
.card-img-bottom {
  border-radius: 20%;
  box-shadow: 5px 5px 10px rgb(208, 208, 208);
}
#footer {
  color: rgb(189, 189, 189);
  text-align: center;
}




